body{
	background-color: #f2f8ff;
}
.title_container {
	text-align: center;
}
.footer {
    margin:5px;
    color:#c7d6e8;
    font-size:1em;
}
.left-footer {
    position:absolute;
    bottom:0;
    left:0;
    margin:5px;
    color:#ccc;
    font-size:1em;
}
.name {
	font-family: Georgia;
	/*margin-top: 40vh;*/
	font-size:4em;
	font-weight: bold;
}
.work-title {
	color: #3498db;
	font-size:2em;
}
.clock-face {
	font-family: Arial;
}