body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

html {
    background: #edf1f3;
    color: rgb(28, 32, 32);;
    height: 100%;
    
}

main {
    min-width: 375px;
}

.hero-header {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#portrait {
    max-width: 150px;
    margin-top: 10%;
    border-radius: 50%;
}

.history-text {
    font-size: 19px;
}

.bold {
    font-weight: bold;
}

.goog-blue {
    color: #4285F4;
}

.goog-red {
    color: #DB4437;
}

.goog-yellow {
    color: #F4B400;
}

.goog-green {
    color: #0F9D58;
}

.uf-orange {
    color: #FA4616;
}

.uf-blue {
    color: #0021A5;
}

.hero-text {
    font-family: Georgia;
}

.hero-name {
    font-weight: 700;
    font-size: 4rem;
}

.hero-job {
    font-weight: 700;
    font-size: 2rem;
}

.content-container {
    font-size: 1rem;
    padding: 20px 10%;
    line-height: 1.25;
    background-color: #fefefe;
}

.group-heading {
    font-size: 2rem;
    font-weight: 400;
}

.icon {
    font-size: 1.7rem;
    color: rgb(28, 32, 32);
    margin: 0 5px;
    text-decoration: none;
}

.icon-left-border {
    border: 2px;
    border-color: #c2d2da;
    border-style: none none none solid;
    padding-left: 5px;
    margin-left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    right:10px;
    text-align: right;
    font-size: 0.8rem;
    color: #c2d2da;
}

#spotify-header {
    margin: 10px;
    font-size: 12px;
    color: #95a3ab;
}

.spotify-track {
    font-size: 12px;
    margin: 10px;
    width: 175px;
    color: #95a3ab;
}

.spotify-album-img {
    height: 150px;
    width: 150px;
}

.spotify-song {
    font-size: 15px;
}

@media only screen and (max-width:600px) { 
    #portrait {
        max-width: 200px;
    }

    #spotify-container {
        flex-direction: column;
    }

    .spotify-track {
        width: 100%;
    }

    footer {
        display: none;
    }
}