body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

html {
    background: #edf1f3;
    color: rgb(28, 32, 32);;
    height: 100%;
    
}

main {
    min-width: 375px;
}

.hero-header {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#portrait {
    max-width: 150px;
    margin-top: 10%;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.goog-blue {
    animation: color-goog-blue 10s forwards;
}

.goog-red {
    animation: color-goog-red 10s forwards;
}

.goog-yellow {
    animation: color-goog-yellow 10s forwards;
}

.goog-green {
    animation: color-goog-green 10s forwards;
}

@keyframes color-goog-blue {
    100% {
        color: #4285F4;
    }
}

@keyframes color-goog-red {
    100% {
        color: #DB4437;
    }
}

@keyframes color-goog-yellow {
    100% {
        color: #F4B400;
    }
}

@keyframes color-goog-green {
    100% {
        color: #0F9D58;
    }
}

.uf-orange {
    animation: color-uf-orange 10s forwards;
}

.uf-blue {
    animation: color-uf-blue 10s forwards;
}

@keyframes color-uf-orange {
    100% {
        color: #FA4616;
    }
}

@keyframes color-uf-blue {
    100% {
        color: #0021A5;
    }
}

.hero-text {
    font-family: Georgia;
}

.hero-name {
    font-weight: 700;
    font-size: 4rem;
}

.hero-job {
    font-weight: 700;
    font-size: 2rem;
}

.content-container {
    font-size: 1rem;
    padding: 20px 10%;
    line-height: 1.25;
    background-color: #fefefe;
}

.group-heading {
    font-size: 2rem;
    font-weight: 400;
}

.icon {
    font-size: 1.7rem;
    color: rgb(28, 32, 32);
    margin: 0 5px;
    text-decoration: none;
}

.icon-left-border {
    border: 2px;
    border-color: #dcdcdc;
    border-style: none none none solid;
    padding-left: 5px;
    margin-left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    right:10px;
    text-align: right;
    font-size: 0.8rem;
}

@media only screen and (max-width:700px) { 
    #portrait {
        max-width: 200px;
    }
}
